body {
  background-color: #fefefb;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Pacifico', cursive;
}

a {
  text-decoration: none;
  color: #fefefb;
}

a:hover {
  color: #fefefb;
}

hr {
  color: #fefefb;
  width: 107px;
  margin-left: 0;
  border-top: 2px solid #fefefb;
}

#title {
  text-align: left;
  background-image: url(lighthouse.jpg);
  background-size: cover;
  position: relative;
  padding-bottom: 350px;
  color: #343434;
}

.big-heading {
  padding: 0 0 40px 0;
  font-size: 4em;
  line-height: 1.5;
  width: 500px;
}

.container-fluid {
  padding: 3% 5%;
}

.navbar {
  font-weight: 400;
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0;
}

.work-btn {
  font-weight: 400;
}

.about-div {
  background-color: #010101;
}

.about-row {
  width: 75%;
  margin: 0 auto 100px auto;
  padding: 75px 0 100px 0;
  text-align: left;
}

.profile-img {
  width: 45%;
  float: right;
  margin-left: 30px;
}

.mid-page-heading {
  line-height: 1.5;
  font-size: 3.6rem;
  color: #fefefb;
  width: 100%;
}

.about-paragraph {
  margin-bottom: 0;
  color: #fefefb;
}

.flex-column {
  max-width: 31%;
  margin: 3px;
}

.gallery-image {
  margin: 3px;
  width: 100%;
  height: auto;
  cursor: pointer;
}


.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer Section */
#footer {
  padding: 7% 15% 1% 15%;
  background-color: #fefefb;
}

.social-icon {
  margin: 15px;
}

.fa-instagram {
  background: #fefefb;
  color: #343434;
}

.fa-instagram:hover {
  background: #fefefb;
  color: #343434;
  opacity: 75%;
  text-decoration: none;
}

/* Contact Form */
#contact-page {
  text-align: left;
  background-image: url(uenotemplemessages.jpg);
  background-size: cover;
  position: relative;
  padding-bottom: 300px;
  color: #fefefb;
}

.email-div h2 {
  padding-top: 50px;
  font-size: 2.5em;
}

.email-div h3 {
  font-size: 1.5em;
}


.form {
  background-color: #fefefb !important;
  padding: 20px;
  width: 75%;
  opacity: 95%;
}

.form-group {
  margin-bottom: 20px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form-control {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #61615e;
  background: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.send-btn {
  display: block;
  padding: 11px 32px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 30px 0px;
}

/* Lightbox */
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  padding: 20px;
  background-color: #fefefb;
}

/* Fade In */
.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Mobile Screen */
@media only screen and (max-width: 600px) {
  .flex-column {
    max-width: 100%;
  }

  .gallery-image {
    padding-right: 8px;
  }

  .navbar {
    padding-bottom: 2rem;
  }

  .big-heading {
    width: 100%;
    font-size: 3em;
  }

  .mid-page-heading {
    font-size: 3em;
  }

  .profile-img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .email-div h2 {
    font-size: 2em;
  }

  .email-div h3 {
    font-size: 1em;
  }

  #lightbox img {
    padding: 8px;
  }

  #footer {
    font-size: .65em;
    padding-top: 10%;
  }

  .about-row {
    padding-bottom: 50px;
    margin-bottom: 10px;
  }

}
